/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

html,
body,
#root{

    width:100%;
    min-height:100vh;

}

body{

    font-family:"Poppins",sans-serif;

    background:#060D1D;

    overflow-x:hidden;

    color:#fff;

}

/* Theme */

:root{

    --primary:#3B82F6;
    --secondary:#8B5CF6;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    --dark:#060D1D;
    --dark-card:#171F2E;

    --text:#FFFFFF;
    --text-secondary:#9CA3AF;

    --glass-bg:rgba(255,255,255,.06);
    --glass-border:rgba(255,255,255,.12);

    --radius:22px;

    --transition:.35s ease;

}

/* Reusable Glass */

.glass{

    background:var(--glass-bg);

    border:1px solid var(--glass-border);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border-radius:var(--radius);

    box-shadow:

        0 8px 32px rgba(0,0,0,.35);

}