.trips-page{
    position:relative;
    min-height:100vh;
    padding:35px;
    overflow-y:auto;
}

.user-trips-container{
    position:relative;
    z-index:2;
}

.trip-grid{
    display:grid;
    grid-template-columns:repeat(3, minmax(300px,1fr));
    gap:24px;
    margin-top:30px;
}

@media(max-width:1024px){
    .trip-grid{
        grid-template-columns:repeat(2, 1fr);
        gap:20px;
    }
}

@media(max-width:768px){
    .trip-grid{
        grid-template-columns:1fr;
    }
}